/* article {
    border: solid black 1px;
} */

body {
    border: solid rgba(38, 37, 37, 0.285) 1px;
    width: 474px;
    
}

/* p {
    border: solid black 1px;
} */

/* h1 {
    border: solid black 1px;
} */

/* .secondsection {
    border: solid rgba(38, 37, 37, 0.285) 1px;
    
} */
p:nth-of-type(2),p:nth-of-type(3) {
    border: solid rgba(38, 37, 37, 0.285) 1px;
    height: 50px;
}

.aftersection {
    border: solid rgba(38, 37, 37, 0.285) 1px;
    height: 50px;
}